<!-- my-loader.component.html -->
<!-- <div class="progress-loader" [hidden]="!loading">
    <div class="loading-spinner">
       
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "black" type = "square-jelly-box" [fullScreen] = "true"><p style="color: whitesmoke" > Loading... </p></ngx-spinner>
        <span class="loading-message">Please wait...</span>
    </div>
</div> -->
<ngx-spinner bdColor = "rgba(240,207,207,0.8)" size = "large" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>