<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{loading_msg}}</p>
</ngx-spinner>

<div class="app-body"
style=" background-image:linear-gradient(0deg, rgba(84.47757616639137, 136.29560083150864, 184.87500607967377, 1) 0%,rgba(138.73885452747345, 181.19622588157654, 221.00000202655792, 1) 100%);
background-image: url(./assets/img/logo/pattern_3.png); background-repeat: repeat-x; object-fit: cover;
"
>
    <main class="main d-flex align-items-center">
      <div class="container" style="width: 770px;">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                    <form action="" #changepassForm="ngForm" method="post" enctype="multipart/form-data" class="form-horizontal"
                     style="color:#25347C;
                font-family: Verdana;">

                    <h2 class="text-center"><b>Change Password</b></h2>
                    <div class="row center" *ngIf="showMessageFlag">
                        <div class="col-6 ">
                         <p>{{Message}}</p>
                        </div>
                      </div>
                    <p class="text-muted">Fill the details below</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                      </div>
                      <input type="text" id="text-input" name="otp" class="form-control" placeholder="OTP" (keypress)="keyPress($event)" maxlength=6 minlength=6
                                  [(ngModel)]="changepassmodel.otp" required>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                      </div>
                      <input type="password" id="text-input" name="newpassword" class="form-control" placeholder="new password" minlength={{paswdLength}} maxlength="15"
                      [(ngModel)]="changepassmodel.newpassword" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()"  required>
                    </div>
                    <div class="input-group mb-3">
                    <p class="text-muted">[Must include minimum {{paswdLength}} characters, atleast one uppercase,lowercase,numeric & special characters]</p>
                    </div>
                    <div class="input-group mb-3">
                      <app-password-strength-bar [passwordToCheck]="changepassmodel.newpassword" [min]="paswdLength" [barLabel]="barLabel" (passwordStrength)="passwordValid($event)">
                      </app-password-strength-bar>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                      </div>
                      <input type="password" id="text-input" name="confpassword" class="form-control" placeholder="confirm password"  maxlength="15" minlength={{paswdLength}}
                          [(ngModel)]="changepassmodel.confpassword" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" required>
                    </div>

                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="button" class="btn btn-block btn-primary px-4 align-items-center"  [disabled]="!changepassForm.form.valid" (click)="ChangePassword()">Change Password</button>
                      </div>

                    </div>


                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 text-center">
                          <button type="button" class="btn btn-block btn-primary px-4 align-items-center" (click)="ResendOTP()">Resend OTP</button>
                        </div>

                      </div>
                      <div class="row" *ngIf="showMessagefromDBFlag">
                        <div class="col-12">
                         <p style="color: red;">{{MessagefromDB}}</p>
                        </div>

                      </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
