<div class="modal modelfade" tabindex="-1" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog ">
        <div class="modal-content model mx-auto">
            <div class="modal-body">
                <div class="container mt-2">
                    <h2 class="text-center color">Verification Pending </h2>
                    <p class="text-center color1">Please try again once we've completed our review of your information.</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="mx-auto color"><h4 (click)="ok()" class="btn color mt-1">Ok</h4></div>
              </div>
        </div>
    </div>
</div>