.model{
    width: 300px;
    margin-top: 35%;
    background-color: rgb(87, 84, 84);
    border-radius: 10px;
    
}
.modelfade{
    background-color: rgba(128, 128, 128, 0.5);
}
.color{
    color: white;
}
.color1{
    color: rgb(189, 186, 186);
}
.modal-footer{
    border-color: rgb(189, 186, 186);
    padding: 0px;
}
