
.loDKCl {
font-family: Roboto-Bold, sans-serif !important;
font-weight: 400 !important;
font-size: 1.85714em !important;
line-height: 1.6em !important;
color: rgb(50, 162, 226) !important;
padding-top: 40px !important;
}
.bYGras a {
text-decoration: none;
color: rgb(50, 162, 226) !important;
}
.kreCXJ {
font-family: Montserrat, sans-serif;
font-weight: 400 !important;
font-size: 1.85714em;
line-height: 1.6em;
color: rgb(50, 50, 159);
padding-top: 40px !important;
}
.gDWFYY:hover {
color:  rgb(50, 162, 226) !important;
}
.coaOfs .token.property.string {
color: rgb(160, 251, 170) !important
}
.jqNdyD {
border-radius: 2px;
background-color: rgba(104, 104, 207, 0.05);
color: rgb(50, 162, 226) !important;
margin: 0px 5px;
padding: 0px 5px;
border: 1px solid rgba(50, 50, 159, 0.1);
font-family: Courier, monospace;
}
.gDWFYY {
cursor: pointer !important;
margin: 0px !important;
padding: 12.5px 20px !important;
display: flex !important;
-webkit-box-pack: justify !important;
justify-content: space-between !important;
font-family: Montserrat, sans-serif !important;
color: rgb(51, 51, 51) !important;
background-color: #fff !important;
}
.cFYLqk {
font-family: Roboto-Bold, sans-serif !important;
font-size: 14px !important;
font-weight: 600 !important;
line-height: 1.5em !important;
color: rgb(104, 101, 101) !important;
display: flex !important;
position: relative !important;
text-align: left !important;
background-color: rgba(235, 235, 235, 0.89) !important;
-webkit-font-smoothing: antialiased !important;
text-size-adjust: 100% !important;
text-rendering: optimizespeed !important;
margin-top: 70px !important;

}
.kreCXJ {
font-family: Montserrat, sans-serif;
font-weight: 600 !important;
font-size: 1.85714em;
line-height: 1.6em;
color: rgb(50, 162, 226) !important;
}
.iZJLLY {
width: 100%;
padding: 40px !important;
background-color: rgb(248, 250, 250) !important;
box-shadow: 0px 20px 60px rgb(86 89 146 / 10%);
}
.lbhIE{
box-shadow: 0px 20px 60px rgb(86 89 146 / 10%);
}
.kMjgQu::after {
content: "";
display: inline-block;
vertical-align: middle;
width: 8px !important;
background: rgb(20 149 223) !important;
height: 7px;
}
.kMjgQu::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 30px !important;
height: 1px;
background: rgb(30 156 229) !important;
}
.eJvdeH {
border-left: 2px solid rgb(50 162 226) !important;

}
.gDWFYY {

background-color: rgb(237 237 237) !important;
}
.idwbZX ,.jcGDuI{
color: rgb(50, 162, 226) !important;
}
.jbhGLE {
position: sticky;
position: -webkit-sticky; /* For macOS/iOS Safari */
top: 0; /* Sets the sticky toolbar to be on top */
z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
width: 100% !important;
box-sizing: border-box !important;
margin: 0px !important;
padding: 10px 10px 10px 45px !important;
border-width: 0px 0px 1px !important;
border-top-style: initial !important;
border-right-style: initial !important;
border-left-style: initial !important;
border-top-color: initial !important;
border-right-color: initial !important;
border-left-color: initial !important;
border-image: initial !important;
border-bottom-style: solid !important;
border-bottom-color:rgb(164, 209, 243) !important;
font-family: Roboto-Regular, sans-serif !important;
font-weight: bold !important;
font-size: 13px !important;
color: rgb(66, 65, 65) !important;
background-color: transparent !important;
outline: none !important;
}
.c-img {
display: inline-flex;
width: 100%;
max-width: 150px;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
}
.ddUyGN {
color: rgb(250 250 250) !important;
word-break: break-word;
}
.iupIzr {
color: rgb(50 162 226) !important;
}
.o-mainHeader {
position: fixed;
z-index: 1;
top: 0;
right: 0;
left: 0;
z-index: 2;
background-color: rgb(245, 248, 250);
box-shadow: 0 5px 5px 0 rgb(23 23 23 / 5%);
}
