.arrange-checkbox {
  position: relative;
  top: 2px !important;
  left: 45px !important;
}

.formhaif {
  font-size: 10px;
  border-radius: 10px;
  height: 26px !important;
  width: 100%;
  padding-left: 5px;
}
